//====================================================================================================
.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 10;
	background-color: #fff;
	// .header__top
	&__top {
	}
	// .header__container
	&__container {
		@media (max-width:$mobile){
			display: none; 
		}
	}
	// .header__menu
	&__menu {
	}
}
.header-main-title {
	font-size: rem(0);
	visibility: hidden;
	pointer-events: none;
}
.top-header {
	background-color: #040404;
	min-height: rem(82);
	position: relative;
	display: flex;
	align-items: center;
	justify-content: end;
	padding: 0 rem(51);
	@media (max-width:$mobile){
		padding: 0 rem(19);
		justify-content: space-between;
		min-height: rem(51);
	}
	// .top-header__logo
	&__logo {
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%,-50%);
		@media (max-width:$mobile){
			position: relative;
			margin-left: rem(10);
			transform: none;
			top: 0;
			left: 0;
		}
	}
	// .top-header__right-block
	&__right-block {
		display: flex;
	}

	// .top-header__search
	&__search {
		&::before{
			font-size: rem(22);
			color: #fff;
			transition: all 0.3s ease 0s;
		}
		@media (any-hover: hover){
			&:hover{
				&::before{
					color: $accentColor;
				}
				
			}
		}
	}
}

.logo {
	&::before{
		color: #fff;
		font-size: rem(32);
		transition: all 0.3s ease 0s;
		@media (max-width:$mobile){
			font-size: rem(24);
		}
	}
	@media (any-hover: hover){
		&:hover{
			&::before{
				color: $accentColor;
			}
			
		}
	}
}

.menu {
	// .menu__icon
	&__icon {
	}
	// .menu__body
	&__body {
	}
	// .menu__list
	&__list {
		display: flex;
		justify-content: center;
		min-height: rem(41);
		align-items: center;
	}
	// .menu__item
	&__item {
		&:not(:last-child) {
			@include adaptiveValue("margin-right",60,20);
		}
	}
	// .menu__link
	&__link {
		color: $mainColor;
		text-transform: uppercase;
		
		@media (any-hover: hover){
			&:hover{
				.menu__text {
					border-bottom: 1px solid $mainColor;
				}
			}
		}
	}

	&__text {
		border-bottom: 1px solid transparent;
		transition: all 0.3s ease 0s;
	}
}
.link-basket {
	display: inline-flex;
	align-items: center;
	// .link-basket__text
	&__text {
		border-bottom: 1px solid transparent;
		transition: all 0.3s ease 0s;
		@media (max-width:$mobile){
			display: none; 
		}
	}

	// .link-basket__basket
	&__basket {
		display: inline-flex;
		gap: rem(6);
		&::before{
			font-size: rem(14);
			margin-left: rem(13);
			@media (max-width:$mobile){
				font-size: rem(18.6);
				color: #fff;
			}
		}
		span {
			background-color: #262626;
			border-radius: 50%;
			color: #fff;
			flex: 0 0 rem(15);
			height: rem(15);
			font-weight: 700;
			font-size: 10px;
			display: flex;
			justify-content: center;
			align-items: center;
			@media (max-width:$mobile){
				background-color: transparent;
				font-size: rem(19);
			}
		}
	}
	@media (any-hover: hover){
		&:hover{
			.link-basket__text {
				border-bottom: 1px solid $mainColor;
			}
		}
	}
}


//====================================================================================================

//Burger
/*
.icon-menu {
	display: none;
	@media (max-width: $mobile) {
		display: block;
		position: relative;
		width: 30px;
		height: 18px;
		cursor: pointer;
		z-index: 5;
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			left: 0px;
			position: absolute;
			width: 100%;
			height: 2px;
			background-color: #000;
		}
		&::before {
			top: 0px;
		}
		&::after {
			bottom: 0px;
		}
		span {
			top: calc(50% - 1px);
		}
		.menu-open & {
			span {
				transform: scale(0);
			}
			&::before {
				transform: rotate(-45deg);
				top: calc(50% - 1px);
			}
			&::after {
				transform: rotate(45deg);
				bottom: calc(50% - 1px);
			}
		}
	}
}
*/
